# Dados de fechamento de 
# mercado com Python

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
response = requests.get(
'https://www.dadosdemercado.com.br/bolsa/acoes')

soup = BeautifulSoup(response.text, 'html.parser')

In [11]:
tabela = soup.find("table")

df = pd.read_html(str(tabela))[0]
df["Última (R$)"] = df["Última (R$)"].str.replace(",", "").str.replace(".", "")
df["Última (R$)"] = df["Última (R$)"].astype(float)/100

df = df.drop("Unnamed: 5", axis = 1)

df

C:\Users\lsiqu\AppData\Local\Temp\ipykernel_24060\1374941389.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Última (R$)"] = df["Última (R$)"].str.replace(",", "").str.replace(".", "")

    Código            Nome       Volume  Última (R$) Variação
0    HAPV3         Hapvida  553.080.600         1.94  -33,56%
1    MGLU3  Magazine Luiza  105.372.200         3.39   -1,17%
2    PETR4       Petrobras   68.042.300        25.31   -0,43%
3    BBDC4  Banco Bradesco   61.048.300        13.97   -0,36%
4    VIIA3             Via   56.281.300         1.94   -0,51%
..     ...             ...          ...          ...      ...
519  TKNO3           Tekno          100        85.70  +10,64%
520  COCE6          Coelce          100        35.00  +16,63%
521  MGEL3         Mangels          100        75.00   +8,70%
522  CTSA8      Santanense        2.000         1.00   +0,00%
523  MMAQ4   Minasmáquinas           14       200.06  -28,55%

[524 rows x 5 columns]