# Dados de importação e exportação IBGE

In [6]:
import requests
import pandas as pd

In [7]:
paises = "BR"
indicadores = "77825|77826"
nomes = ['Exportações', 'Importações']

In [8]:
response = requests.get(f'''
https://servicodados.ibge.gov.br/api/v1/paises/{paises}/indicadores/{indicadores}
''')

lista_dfs = []

In [9]:
data = response.json()

for i, nome in enumerate(nomes):
    
    lista_anos = []
    lista_valores = []
    
    for informacoes in data[i]['series'][0]['serie']:
        
        valores = list(informacoes.items())
        lista_anos.append(valores[0][0])
        lista_valores.append(valores[0][1])
        
    df = pd.DataFrame(list(zip(lista_anos, lista_valores)), 
                      columns = ['Anos', f"{nome}"]).dropna()
    
    lista_dfs.append(df)

In [10]:
df_final = pd.merge(lista_dfs[0], lista_dfs[1], on = "Anos")
df_final = df_final.set_index("Anos")
df_final = df_final.applymap(lambda x: "R$" + str(round(int(x)/1000000000, 0)) + " bilhões")

df_final

          Exportações      Importações
Anos
2013  R$242.0 bilhões  R$240.0 bilhões
2014  R$225.0 bilhões  R$229.0 bilhões
2015  R$191.0 bilhões  R$171.0 bilhões
2016  R$180.0 bilhões  R$145.0 bilhões
2017  R$215.0 bilhões  R$166.0 bilhões
2018  R$232.0 bilhões  R$193.0 bilhões
2019  R$221.0 bilhões  R$193.0 bilhões
2020  R$209.0 bilhões  R$166.0 bilhões