# Produção de petróleo no BR ano a ano.

In [2]:
import requests
import pandas as pd

In [3]:
paises = "BR"
indicadores = "77842" #cod producao de petroleo

response = requests.get(f'''
https://servicodados.ibge.gov.br/api/v1/paises/{paises}/indicadores/{indicadores}
''')

data = response.json()

lista_anos = []
lista_valores = []

In [4]:
for informacoes in data[0]['series'][0]['serie']:
    
    valores = list(informacoes.items())
    lista_anos.append(valores[0][0])
    lista_valores.append(valores[0][1])
    
df = pd.DataFrame(list(zip(lista_anos, lista_valores)),
                 columns = ['Anos', 'Barris p/ dia (x1000)']).dropna()

df = df.set_index("Anos")

df

     Barris p/ dia (x1000)
Anos
2008                  1897
2009                  2029
2010                  2137
2011                  2179
2012                  2145
2013                  2110
2014                  2341
2015                  2525
2016                  2591
2017                  2721
2018                  2679
2019                  2876
2020                  3026